.container{
    position: relative;
    width: 333.33px;
    height: 100%;
    margin: 30px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: #141414;
    color: #ededed;
}

.container img{
    height: 500px;
    
}

.container h3{
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center  ;
}

figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container p {
    max-height: 150px;
    overflow-y: auto;
}
