.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: aqua
}